{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block body %}
<div>
    <h1 class="mb-5">Change Password</h1>
    <form method="post" novalidate>    
        {% csrf_token %}
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-{{msg.tags}}" role="alert">{{msg}}</div>
            {% endfor %}
        {% endif %}
        {{form | crispy }}
        <button class="btn btn-warning mt-3">Change Password</button>
    </form>
</div>
{% endblock %} 