{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
    <h1 class="mb-4">Create New Account</h1>
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-{{msg.tags}}" role="alert">{{msg}}</div>
        {% endfor %}
    {% endif %}
    <form method="post" novalidate>        
        {% csrf_token %}
        {{form | crispy }}
        <button class="btn btn-primary mt-2 mb-4" type="submit">Create Account</button>
        <h6>Already have an account <a href="{% url 'login' %}">Login</a></h6>
    </form>
{% endblock %}